.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    background: linear-gradient(45deg, #09E4A8, #09E4A8);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background 0.3s ease;
    z-index: 1000;
}

.back-button:hover {
    background: linear-gradient(45deg, #07c48a, #07c48a);
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .back-button {
        top: 10px;
        left: 10px;
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }
}